{{>header}}
        <div class="main-content">
        <h1>{{title}}</h1>
        <h2>{{name}}</h2>
        <img src="img/profile.jpg" alt="profile picture" class="profile-img">
        </div>
{{>footer}} 