{{>header}}
        <div class="main-content">
        <h1>{{title}}</h1>
        <p>This site was created by {{ name }}. It grabs data from mapbox.com to get forecast from weatherstack.com </p>
        <h2>{{name}}</h2>
        <img src="img/profile.jpg" alt="profile picture" class="profile-img">
        </div>
{{>footer}} 