{{>header}}
        <div class="main-content">
        <h1>{{title}}</h1>
        <p>The weather app for fisherman
        </p>

        <form action="">
                <input type="text" placeholder="Search location...">
                <button>Search</button>
        </form>
        <p id="message1"></p>
        <p id="message2"></p>

        </div>
{{>footer}} 